<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.customermgr.dao.ICustomerDao">
	
	<resultMap type="com.app.customermgr.model.Customer" id="customerMap">
		<result column="uuid" property="uuid"/>
		<result column="customerId" property="customerId"/>
		<result column="pwd" property="pwd"/>
		<result column="showName" property="showName"/>
		<result column="trueName" property="trueName"/>
		<result column="registerTime" property="registerTime"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.app.customermgr.model.Customer"
		useGeneratedKeys="true" keyProperty="uuid">
		insert into tbl_customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customerId != null">customerId,</if>
			<if test="pwd != null">pwd,</if>
			<if test="showName != null">showName,</if>
			<if test="trueName != null">trueName,</if>
			<if test="registerTime != null">registerTime,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="customerId != null">#{customerId},</if>
			<if test="pwd != null">#{pwd},</if>
			<if test="showName != null">#{showName},</if>
			<if test="trueName != null">#{trueName},</if>
			<if test="registerTime != null">#{registerTime},</if>
		</trim>
	</insert>

	<select id="findCustomerByCondition" parameterType="map" resultMap="customerMap">
		select uuid,customerId,pwd,showName,trueName,registerTime
		from tbl_customer
	</select>
</mapper>